<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="img/favicon.ico"/>
    <!-- <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self';"/> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Questions</h1>
        <h2><%= user.userName %> has <%= total %> total, with <%= left %> answered.</h2>
        <!-- <span class='rev'> Review </span> -->
        <a href="/profile" class="profile ansBtn">Profile</a>
        <a href="/logout" class="logout ansBtn">Logout</a>
    </header>       
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>   
                    <span> <%= el.qtype %> </span>
                    <span class='<%= el.response ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span class='ans'> Answer </span>
                    <span class='<%= el.qsource == 'self' ? 'completed del' : 'hidden'%>'> Delete </span>
                    <br>
                <textarea id="qAns<%= el._id %>" name="qAns" rows="5" cols="60" class="questionForm" style="display:none;"><%= el.response %></textarea>
                <span id="saveAns<%= el._id %>" class="ansBtn" style="display:none;">Save Answer</span>
            </li>
    <% }) %>    
    </ul>

    <form action="/todos/createTodo" method='POST' class='<%= total < 200 ? 'completed' : 'hidden'%>'>
        <input type="text" placeholder="Enter Question" name='todoItem' width="100px" class="questionForm">
       <br>
        <textarea id="newAns" name="newAns" placeholder="Answer goes here" rows="5" cols="40" class="questionForm"></textarea>
        <input type="submit">
    </form>

    

    <script src="js/main.js"></script>
</body>
</html>